
.landing {
    min-height: 100vh;
    background-color: #ffd1a9;
    display: flex;
    justify-content: center;
    align-items: center;
    .landing-logo-wrapper {
        transform: translateY(-10%);
    }
    .landing-logo-wrapper:hover {
        cursor: pointer;
    }
    .yellow-fire {
        position: absolute;
        left:0;
        z-index: -1;
        display: none;
        top: 3px;
    }
    .landing-logo-wrapper:hover .yellow-fire{
        display: inherit;
    }

}