@import "components/home";
@import "components/landing";
@import "components/slider";
@import "components/homenew";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(226, 118, 118);;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.load-screen {
  background-color: #ffd1a9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: rgb(249, 242, 194);
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: rgb(63, 63, 59);;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: rgb(226, 118, 118);
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
}


// body::-webkit-scrollbar {
//   width: 6px; /* width of the entire scrollbar */
// }

// body::-webkit-scrollbar-track {
//   background: transparent; /* color of the tracking area */
//   mix-blend-mode: multiply;
// }

// body::-webkit-scrollbar-thumb {
//   background-color: orange; /* color of the scroll thumb */
//   border-radius: 0px; /* roundness of the scroll thumb */
//   border: 0;
// }


::-webkit-scrollbar {
  width: 3px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffd1a9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(152, 12, 2);; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; 
}